.section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10rem;
}

.card {
    border-radius: 8px;
    box-shadow: var(--shadow-elevation-high);
    position: relative;
}

.paragraph-a {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.paragraph-b {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.number {
    font-size: 60px;
    grid-column: 1/2;
    grid-row: 2/4;
    transform: rotate(270deg);
    text-align: center;
}

.title {
    font-size: 52px;
    text-transform: uppercase;
    grid-column: 1 / 5;
}
