.section {
    /* width: 900px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10rem;
    gap: 2rem;
    text-align: center;
}

.card {
    border-radius: 8px;
    box-shadow: var(--shadow-elevation-high);
    position: relative;
    padding: 1rem;
}

.number {
    grid-column: 2/3;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(-90deg); */
}

.title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    font-size: 3rem;
    text-transform: uppercase;
}

.paragraph-a {
    grid-column: 1 / 3;
}

.paragraph-b {
    grid-column: 1 / 3;
}

@media (min-width: 800px) {
    .section {
        min-width: 800px;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .paragraph-a {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }

    .paragraph-b {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
    }

    .number {
        font-size: 60px;
        grid-column: 1/2;
        grid-row: 2/4;
        transform: rotate(-90deg);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 52px;
        text-transform: uppercase;
        grid-column: 1 / 5;
    }
}
