.linkwrapper {
    position: relative;
    --glow: 60;
    --border: 2;
}

.link {
    position: relative;
    scale: 1;
    cursor: pointer;
    box-shadow: 0 1px inset hsl(0 0% 100% / 0.5), 0 -1px inset hsl(0 0% 30% / 5);
    border-radius: 4px;
    padding: 1rem 2rem;
    background: linear-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(251, 251, 251, 0.1) 100%
        ),
        linear-gradient(90deg, #84d2ff, rgb(var(--pink-rgb)));
}

.glow {
    inset: -2px;
    position: absolute;
    border: 2px solid orange;

    &::after {
        display: inline-block;
        content: '';
        height: 6rem;
        aspect-ratio: 1 / 1;
        background: white;
        offset-path: rect(0 100% 100% 0 round 10px);
        offset-path: rect(0 100% 100% 0 round calc(var(--glow) * 1px));
    }
}

.content {
}
