.linkwrapper {
    position: relative;
    --glow: 60;
    --border: 2;
}

.link {
    position: relative;
    scale: 1;
    cursor: pointer;
    border-radius: 4px;
    padding: 1rem 2rem;
    background: linear-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(251, 251, 251, 0.1) 100%
        ),
        linear-gradient(180deg, transparent, hsl(0 0% 100% / 0.5));
}

.glow {
    inset: -2px;
    position: absolute;
    border-radius: 8px;
    border: 2px solid transparent;
    mask: linear-gradient(transparent, transparent),
        linear-gradient(white, white);
    mask-clip: padding-box, border-box;
    mask-composite: intersect;

    &::after {
        border-radius: 4px;
        display: inline-block;
        content: '';
        height: calc(var(--glow) * 1px);
        aspect-ratio: 1 / 1;
        background: white;
        offset-path: rect(0 100% 100% 0 round 16px);
        offset-path: rect(0 100% 100% 0 round calc(var(--glow) * 1px));
        background: radial-gradient(
                circle at right,
                hsl(0 0% 100% / 0.75),
                transparent 50%
            ),
            radial-gradient(circle at right, hsl(120, 80%, 6%) 50%, transparent);

        animation: loop 4s linear infinite;
    }
}

@keyframes loop {
    to {
        offset-distance: 100%;
    }
}

.content {
}
