#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    --radius: 30vh;
    --top-position: 60vh;
}
.circle {
    position: absolute;
    top: calc(20px + var(--top-position) - var(--radius));
    left: 0;
    right: 0;
    margin: auto;
    width: 2px;
    height: var(--radius);
    background: #000;
}
.circle::after {
    content: '';
    position: absolute;
    height: calc(var(--radius) * 2);
    width: calc(var(--radius) * 2);
    top: calc(var(--radius) * -1);
    left: calc(var(--radius) * -1);
    border-radius: 100%;
    border: 1px solid pink;
    z-index: -2;
}

.swing {
    height: 150vh;
    min-width: 300vw;
    width: 100vw;
    margin-top: calc(20px + var(--top-position));
    /* background: teal; */
    color: white;
    text-align: center;
    z-index: 1;
    background-image: linear-gradient(to right, red, yellow);
}
