@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 46, 53, 50;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --shadow-color-rgb: 107, 123, 116;
    --opacity: 0.36;
    --shadow-elevation-medium: -0.6px 0px 0.7px
            rgba(var(--shadow-color-rgb), var(--opacity)),
        -2.1px 0px 2.4px -0.8px rgba(var(--shadow-color-rgb), var(--opacity)),
        -5.3px -0.1px 6px -1.7px rgba(var(--shadow-color-rgb), var(--opacity)),
        -12.8px -0.2px 14.4px -2.5px rgba(var(--shadow-color-rgb), var(--opacity));
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 46, 53, 50;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    width: 100vw;
    height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.homepage-container {
    padding: 5%;
}
