@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 46, 53, 50;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --shadow-color-rgb: 107, 123, 116;
    --opacity: 0.36;
    --shadow-elevation-high: 0px 0.1px 0.1px
            rgba(var(--shadow-color-rgb), var(--opacity)),
        0px 0.4px 0.5px -0.4px rgba(var(--shadow-color-rgb), var(--opacity)),
        -0.1px 0.8px 0.9px -0.7px rgba(var(--shadow-color-rgb), var(--opacity)),
        -0.1px 1.3px 1.5px -1.1px rgba(var(--shadow-color-rgb), var(--opacity)),
        -0.2px 2.1px 2.4px -1.4px rgba(var(--shadow-color-rgb), var(--opacity)),
        -0.3px 3.3px 3.7px -1.8px rgba(var(--shadow-color-rgb), var(--opacity)),
        -0.5px 5px 5.7px -2.1px rgba(var(--shadow-color-rgb), var(--opacity)),
        -0.7px 7.3px 8.3px -2.5px rgba(var(--shadow-color-rgb), var(--opacity));
    --pink-rgb: 255, 145, 223;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 46, 53, 50;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    width: 100vw;
    height: 100vh;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.homepage-container {
    padding: 5%;
    padding-top: 15%;
    position: relative;
}

.spinner-svg {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 50%;
}
