.container {
    width: 375px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-top: 4rem;
}

.title {
    height: 3vh;
    position: absolute;
    top: 10rem;
    left: 2rem;
}

.illustration-grey {
    height: 60%;
    position: absolute;
    bottom: 0;
    left: -5rem;
    filter: grayscale(1);
}

.spinner-svg {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 10%;
    right: 10.5%;
    z-index: 50000;
}

@media (min-width: 800px) {
    .container {
        width: 600px;
        grid-template-columns: 1fr 1fr;
    }
}
