.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.title {
    height: 3vh;
    position: absolute;
    top: 10rem;
    left: 2rem;
}

.illustration-grey {
    height: 60%;
    position: absolute;
    bottom: 0;
    left: -5rem;
    filter: grayscale(1);
}

.wrapper {
    padding: 5%;
    position: relative;
    margin: 0 auto;
}

.spinner-svg {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 10%;
    right: 10.5%;
    z-index: 50000;
}
